::selection {
    background: #ffe878;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffe878;
    /* Gecko Browsers */
}

* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    outline: none;
}

html {
    background-color: #fed500;
    position: relative;
    z-index: -2;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    padding: 300px 15% 300px 15%;
    position: relative;
    z-index: -2;
    margin: 5px;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Argent CF';
    font-size: 1.3rem;
    font-weight: 100;
    color: #000;
}

a {
    font-family: 'PT Serif', serif;
    border-bottom: 1px solid #000;
    color: #000;
    padding-bottom: .05em;
    text-decoration: none;
}

a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 15px;
    border-bottom: 0;
    padding-bottom: .1em;
    text-decoration: none;
}

a.noborder {
    border-bottom: 0;
}

a.noborder:hover {
    background: none;
}

a .shift {
    display: inline-block;
    transition: all .25s cubic-bezier(0.19, 1, 0.22, 1);

}

a:hover .shift {
    transform: translateX(7px);
}

a:hover .shift.extlink {
    transform: translate(7px, -7px);
}

a:hover .doubledLink {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='black' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 15px;
    border-bottom: 0;
    padding-bottom: .1em;
    text-decoration: none;
}

.section {
    min-height: 100vh;
}

.section>.sectioncontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2,
h3 {
    font-family: 'Playfair Display', serif;
    color: #000;
}

.nav {
    font-weight: 700;
    font-size: 2rem;
    position: absolute;
    top: 200px;
    left: 0;
    height: 3vw;
    width: 100%;
}

.nav>ul {
    list-style: none;
    padding: 0;
    padding-left: -10px;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.nav>ul li {
    display: inline-block;
}

.nav>ul li a {
    color: black;
    font-family: 'Playfair Display', serif;
    border-bottom: none;
    padding: 0 10px;
    margin: 0 20px;
    color: #888;
    position: relative;
    text-decoration: none;
    width: 1000px;
}

.nav>ul li a:hover {
    background-image: none;
    background-position: none;
    background-size: 0;
}

.nav>ul li a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 10px;
    margin: 0;
    max-height: 0;
    color: #000;
    content: attr(data-hover);
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

.nav>ul li a.active {
    color: #000;
    pointer-events: none;
}

.nav>ul li a:hover::before {
    max-height: 100%;
}

/* .nav .dropdown {
    position: relative;
    display: inline-block;
    border: 3px solid transparent;
}

.nav .dropdown-content {
    display: none;
    height: 0;
    position: absolute;
    background-color: #fff;
    padding: 12px 16px;
    z-index: 1;
    font-size: 80%;
    border: 3px solid #fed500;
    transform: translateX(-3px);
}

.nav li.dropdown:hover {
    background: #fff;
    border: 3px solid #fed500;
    border-bottom: none;
}

.nav .dropdown:hover .dropdown-content {
    display: block;
    height: auto;
    font-size: 100%;
} */

.logo {
    font-size: 3rem;
    position: absolute;
    top: 1em;
    text-align: center;
    display: block;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

}

.logo #logo {
    height: 120px;
}

.bigtitle {
    font-family: 'Oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .03rem;
    font-weight: 700;
    line-height: .08em;
    width: 100%;
    text-transform: uppercase;
    border-bottom: 3px solid #fed500;
    text-align: left;
    margin: 2em 0;
}

.bigtitle span {
    background: #fff;
    padding: 0 10px;
}

.btn-main {
    display: inline-block;
    font-family: 'Oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 .8rem;
    margin-left: 1rem;
    height: 2.5rem;
    border: 2px transparent solid;
    border-radius: .3rem;
    background-color: #fed500;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    outline: none;
}

.btn-main.noborder {
    border-bottom: 2px solid transparent;
}

.btn-main:hover {
    background-color: #f1c900;
    outline: none;

}

.btn-main:active,
.btn:active {
    border-color: #000;
    color: #000;
    outline: none;
}

.btn-main:focus,
.btn:focus {
    outline: none;
}

.btn-second {
    display: inline-block;
    font-family: 'Oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 .8rem;
    margin-left: 1rem;
    height: 2.5rem;
    line-height: 2.5rem;
    border: none;
    border-radius: .3rem;
    background-color: #ccc;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn-second:hover {
    background-color: #fed500;
    color: #000;
    background-image: none;
    background-position: none;
    background-size: 0;

}

.facebook {
    color: white;
    background-color: #3b5998;
}

.instagram {
    color: white;
    background-color: #e4405f;
}

.linkedin {
    color: white;
    background-color: #0077B5;
}

.box {
    background: #fff;
    padding: 2em;
    border: 3px #fed500 solid;
    position: relative;
    margin: 5em auto;
    display: block;
    width: 100%;
}

.box .title {
    position: absolute;
    text-align: center;
    display: block;
    top: -1.7em;
    padding: 5px;
    background: #fff;
    color: #000;
    font-family: 'Oswald', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.title.right {
    right: 5px;
}

.title a {
    text-transform: lowercase;
}

.overlay {
    z-index: 9998;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    will-change: opacity;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s;
}

.bookContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.book {
    height: 100%;
    width: 100%;
    z-index: 999;
    border: 1px black solid;
    cursor: pointer;
}

.book .content {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.book.disabled {
    pointer-events: none;
}

.book .imageContainer {
    display: block;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    top: 0;
}

.book .imageContainer img {
    color: #000;
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.book .details {
    padding: 2em;
}


.bookContainer.expanded {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: scroll;
    z-index: 9999;
    padding-top: 8%;
    width: 100%;
    height: 100%;
}

.bookContainer.expanded .row {
    width: 100%;
    padding: none;
}

.bookContainer.expanded .row .col-md-4,
.bookContainer.expanded .row .col-md-8 {
    padding: 0;
}

.bookContainer.expanded .book {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    border: none;
    /* border: 3px #fed500 solid; */
    background-color: #fff;
    cursor: default;
}

.bookContainer.expanded .book .imageContainer {
    left: 0;
    height: 100%;
}

.bookContainer.expanded .book .imageContainer img {
    min-height: 100%;
    left: 0;
}

.bookContainer.expanded .book .details {
    padding-top: 3em;
}

.bookContainer.expanded .book .details .close {
    position: absolute;
    cursor: pointer;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.bookContainer.expanded .book .details .close:before,
.bookContainer.expanded .book .details .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000;
}

.bookContainer.expanded .book .details .close:before {
    transform: rotate(45deg);
}

.bookContainer.expanded .book .details .close:after {
    transform: rotate(-45deg);
}

.bookContainer.expanded .book .description p {
    font-family: 'Argent CF';
    font-size: 1.1rem;
    font-weight: 100;
}

@media screen and (max-width:740px) {
    .bookContainer.expanded {
        padding: 0;
        left: 0;
        top: 0;
        transform: none;
        width: 100vw;
        max-height: 100vh;
    }

    .bookContainer.expanded .row,
    .bookContainer.expanded .book {
        margin: 0;
        padding: 0;
        left: 0;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
    }

    body {
        padding: 500px 4vw 300px 4vw !important;
    }

    .box {
        padding: 2em 1em;
    }

    .btn-main {
        margin: 0 auto;
        display: block;
    }

    .nav ul li {
        display: block;
        margin: .5em auto;
    }
}

@media screen and (max-width:940px) {
    .btn-main {
        min-width: 200px;
    }

}

@media screen and (max-width:1250px) {
    body {
        padding: 350px 4vw 300px 4vw;
    }
}